@import "./../../node_modules/breakpoint-sass/stylesheets/breakpoint";

$breakpoint-mobile: (max-width 568px) (orientation portrait);
$breakpoint-mobile-landscape: (max-width 568px) (orientation landscape);
$breakpoint-tablet: 569px 1280px;
$breakpoint-desktop: min-width 1281px;

html,body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "proxima-nova", sans-serif;
}

#guiContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	pointer-events: none;
}


.pixiContainer:before{
	height: 100%;
	display: inline-block;
	content: '';
}

#Test1{
	position: absolute;
	left: 50%;
	top: 35%;
	opacity: 1;
	pointer-events: all;
	transform: translateX(-50%) translateY(-50%);
}

#Test2{
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 1;
	pointer-events: all;
	transform: translateX(-50%) translateY(-50%);
}

 #Test3{
	position: absolute;
	left: 50%;
	top: 65%;
	opacity: 1;
	pointer-events: all;
	transform: translateX(-50%) translateY(-50%);
}

 #BackMenu{
	position: absolute;
	right: 10%;
	top: 10%;
	opacity: 1;
	pointer-events: all;
}

button{

	position: relative;
	background-color: rgba(#68b2f8, 0.2);
	padding: 0.2rem 1.8rem 0.1rem 1.8rem;
	margin: 2rem auto;
	font-size: 1.2rem;
	margin-right: 1.5rem;
	border: 0;
	color: white;
	outline: none;
	white-space: nowrap;

	&:before{
		content: "";
		position: absolute;
		z-index: 10;
		left: -3rem;
		top: -2.4rem;
		width: 6rem;
		height: 7rem;
		background-image: url(assets/images/cta_glow_left.png);
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		pointer-events: none;
	}

	&:after{
		content: "";
		position: absolute;
		z-index: 10;
		right: -3rem;
		top: -2.4rem;
		width: 6rem;
		height: 7rem;
		background-image: url(assets/images/cta_glow_left.png);
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		transform: scaleX(-1);
		pointer-events: none;
	}

	a{
		width: 100%;
		padding: 0.2rem 0.5rem;
		color: #fff;
	}

	&:hover{
		background: rgba(#68b2f8, 0.4);
		a{
			padding: 0.2rem 0.8rem;
		}
	}
}

h2{
	position: absolute;
	box-sizing: border-box;
	top: 5%;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	width: 100%;
	color: #fff;
	transition: all 0.5s ease-in;
	padding: 0 3rem;

	@include breakpoint(($breakpoint-desktop)){
		top: 40%;
	}
}